@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");

.container {
  display: block;
  width: 1440px;
  height: 1046px;
}
h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 101.38%;
  width: 365px;
  height: 70px;
  margin-left: 124px;
  margin-top: 91px;
  margin-bottom: 18px;
}
.block_1 {
  display: flex;
  flex-direction: row;
}
.block_1_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: 24px;
  width: 662px;
  height: 374px;
  margin-left: 105px;
  margin-bottom: 51px;
  margin-right: 87px;
}
.block_2 {
  display: flex;
  flex-direction: row;
}
.block_2_text {
  display: flex;
  flex-direction: row;
  margin-top: 127px;
  margin-bottom: 227px;
  margin-left: 132px;
}
.block_1_IMG {
  width: 314px;
  height: 315px;
  margin-left: 197px;
  margin-top: 47px;
  margin-right: 150px;
}
.block_2_IMG {
  width: 232px;
  height: 203px;
  margin-top: 94px;
  margin-left: 124px;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  width: 150px;
  height: 39px;
}
.block_2_paragraf {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  width: 150px;
  height: 39px;
}
h3,
.block_2_paragraf {
  margin-right: 95px;
}

@media (max-width: 834px) {
  .container {
    width: max-content;
    height: max-content;
  }
  .block_2_IMG {
    display: none;
  }
}

@media (max-width: 375px) {
  .block_1 {
    flex-direction: column;
  }
  .block_2_paragraf {
    width: max-content;
  flex-wrap: wrap;
  }
}
